
.project_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    bottom: 20px;
  }
  
  .projects {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .projects > div {
    flex: none;
    scroll-snap-align: center;
  }
  
  .fade_right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2rem;
    background: linear-gradient(to left, rgb(103, 147, 136), rgba(160, 233, 156, 0));
  }
  