
.project_container {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }
  
  .projects {
    display: flex;
    padding: 1rem;
    scroll-snap-type: x mandatory;
  }

  .projects::-webkit-scrollbar{
    display: none;
  }
  
  .projects > div {
    flex: none;
    scroll-snap-align: center;
  }

  