
.project_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    bottom: 20px;
  }
  
  .projects {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .projects > div {
    flex: none;
    scroll-snap-align: center;
  }

  